* {
    box-sizing: border-box;
}

.jumbotron {
    height: 346px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3em;
}

.pizza-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-color: rgba(236, 236, 236, .5);
}