body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

div {
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 4px;
    margin: 6px;
}

.message-info {
    background-color: #CDDEFF;
}

.message-success {
    background-color: #CFF3DA;
}

.message-warning {
    background-color: #FDFBC8;
}

.message-error {
    background-color: #FAD2D6;
}