

h1 {
    text-align: center;
    color: purple; /* single line comment */
    text-decoration: underline;
}

h3 {
    color: midnightblue;
    text-decoration: underline;
}

body {
    background-color: aliceblue;
    background-image: url(/img/room.jpg);
    background-size: cover;
    font-family: Arial;
}

ul {
    list-style-type: square;
}

table {
    width: 50%;
}

th {
    height: 70px;
    border-bottom: 1px solid #ddd;
}

td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
